/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import '../../../../../.cache/wal/colors-waybar.css';

@define-color backgroundlight @color5;
@define-color backgrounddark @color11;
@define-color workspacesbackground1 @color5;
@define-color workspacesbackground2 @color11;
@define-color bordercolor @color11;

@define-color textcolor @color5;

@define-color backgroundcolor #1e1e2e;
@define-color textcolor1 @textcolor;
@define-color textcolor2 @textcolor;
@define-color textcolor3 @textcolor;
@define-color iconcolor #cba6f7;
/* @define-color workspaces #EBEBD3; */
@define-color workspaces @iconcolor;
/* @define-color workspaces #FFFFFF; */

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

 * {
    font-family: "Fira Sans Semibold", "Font Awesome 6 Free", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
    text-shadow: none;

}

window#waybar {
    background-color: rgba(255,0,255,0.05);
    /* background-color: #1e1e2b; */
    /* border-bottom: 0px solid #ffffff; */
    border-radius: 8px;
    border: 2px solid #2f2f45;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
    /* filter: blur(5); */
}

.modules-left {
    padding-left:14px;
}

#custom-power_profile,
#custom-weather,
#custom-moon,
#custom-wallpaper,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-temperature,
#custom-memory,
#workspaces,
#tray,
#custom-updates,
#backlight {
    background: @backgroundcolor;
    /* background-color: @backgroundcolor; */
    opacity: 0.8;
    padding: 0px 0px;
    /* margin: 3px 0px; */
    margin: 0px 0px;
    margin-top: 10px;
    /* border: 1px solid #181825; */
    border: 1px solid rgb(159, 84, 153);
    
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    margin: 8px 15px 8px 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    font-size: 14px;
    color: @workspaces;
    border-color: @workspaces;
}

#workspaces button {
    border: 0px;
    margin:4px 5px 4px 0px;
    padding:0px 4px 0px 4px;
    color: @workspaces;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    /* color: #EBEBD3; */
    background:@workspaces;
    color: @backgroundcolor;
    border-radius:20px;
}

#workspaces button:hover {
    /* color: #EBEBD3; */
    color: @backgroundcolor;
    background: @workspaces;
    border-radius: 6px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 8px;
    opacity:0.9;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: #cba6f7;
}

#pulseaudio tooltip label {
    color: green;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 8px 15px 8px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 8px;
    color: #cba6f7;
    border-color: #cba6f7;
    font-size: 14px;
    font-weight:normal;
    opacity:0.8;
     
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: @backgroundlight;
    margin: 6px 15px 6px 0px;
    padding:0px;
    border-radius: 8px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    /* border: 3px solid @backgroundlight; */
     
}

#taskbar button {
    margin:0;
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    background:transparent;
    border:0;
    padding:0;
    margin:0;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#custom-notification {
    margin: 0px 13px 0px 0px;
    padding:0px;
    font-size:20px;
    color: #e6cc00;
    opacity: 0.8;
}
/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave, 
#custom-browser, 
#custom-keybindings, 
#custom-outlook, 
#custom-filemanager, 
#custom-teams, 
#custom-chatgpt, 
#custom-calculator, 
#custom-windowsvm, 
#custom-cliphist, 
#custom-wallpaper, 
#custom-settings, 
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 14px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
    margin-right: 20px;   
}

#custom-settings {
    margin-right:12px;
}

#custom-tools {
    margin-right:12px;
}

#custom-hypridle.active {
    color: @iconcolor;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-ml4w-welcome {
    margin-right: 12px;
    background-image: url("../assets/ml4w-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    padding-right: 20px;
    opacity: 0.8;
}

#custom-chatgpt {
    margin-right: 12px;
    background-image: url("../assets/openai.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    padding-right: 16px;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
    margin-right: 17px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @backgrounddark;
    font-size: 14px;
    color: @textcolor1;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
    margin: 8px 16px 8px 0px;
    opacity:0.8;
    border:3px solid @bordercolor;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 13px 0px 0px;
    padding:0px;
    font-size:20px;
    color: @iconcolor;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    font-size: 14px;
    color: #86e4DC;
    border-color: #86e4DC;
    border-radius: 8px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
}

#custom-updates.green {
    
}

#custom-updates.yellow {
    /* background-color: #ff9a3c; */
    border-color: #ff9a3c;
    color: #ff9a3c;

}

#custom-updates.red {
    /* background-color: #dc2f2f; */
    color: #dc2f2f;
    border-color: #dc2f2f;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#language {
    margin:0px;
    padding:0px;
    font-size:16px;
    color:@iconcolor;
}

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    
    font-size: 14px;
    /* color: #fab387;
    border-color: #fab387; */
    color: @iconcolor;
    border-color: @iconcolor;
    border-radius: 8px;
    padding: 1px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
    /* border:2px solid @textcolor;    */
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

 #backlight {
    
    font-size: 14px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 8px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
     
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    font-size: 14px;
    color: @iconcolor;
    border-color: @iconcolor;
    border-radius: 8px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
}

/* #pulseaudio.muted {
    background-color: @backgrounddark;
    color: @textcolor1;
} */

#pulseaudio-slider {
    font-size: 14px;
    color: @iconcolor;
    border-color: @iconcolor;
    border-radius: 8px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
}

#pulseaudio-slider.muted {
    background-color: @backgrounddark;
    color: @textcolor1;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: green;
}


/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    color: #f9e2af;
    border-color: #f9e2af;
    font-size: 14px;
    border-radius: 8px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
     

}

/* #network.ethernet {
    
    color: @textcolor2;
}

#network.wifi {
    
    color: @textcolor2;
} */

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth {
    color: #89b4fa;
}

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    font-size: 14px;
    border-radius: 8px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
    /* color: @textcolor2; */
    border-color: #89b4fa;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 14px;
    color: #a6e3a1;
    border-radius: 8px;
    padding: 2px 15px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
    border-color:#a6e3a1; 
}

#battery.warning {
    color: #FFA500;
    border-color: #FFA500;
}

#battery.charging, #battery.plugged {
    color: #a6e3a1;
    border-color:#a6e3a1; 
}

@keyframes blink {
    to {
        background-color: #831111;
        /* color: @textcolor2; */
        
    }
}

#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
    color: #f53c3c;
    border-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    padding: 0px 15px 0px 0px;
    color: @textcolor3;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
